body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

h1 {
    color: whitesmoke;
    background-color: black;
    padding: 12px; 
    margin-top: 0;
    text-align: center;
  
}

h2{
    margin: 5px;
}


    

img {
    width: 200px;
    height: 275px;
    margin: 0 auto 20px auto;
    display: block;
}

.info {
    display: block;
    border: 1px solid black;
    margin-bottom: 0px;
    padding-left: 18px;
}

main {
    width: 75%;
    border: solid white;
    margin: 0 auto;
    display: flex;
}

.info {
    border:solid white;
    padding: 0 5px;
}

@media screen and (max-width: 500px) {
    main {
        width: 100%;
    }

    .info {
        flex-basis: 100%;
    }

    body {
        font-size: 75%;
    }

}
